---
layout: default
title: Blog
---
{% include navigation.html %}
<div class="blog">
    <div class="header-section">
        <div class="header-background-filter">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="content-section">
        <div class="container">
            {% for post in site.posts %}
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            {% endfor %}
        </div>
    </div>
</div>