<nav class="navigation-bar" id='navigation-bar'>
    <button class="menu" id="nav-button">
        <ion-icon name="menu"></ion-icon>
    </button>
    <a class="logo" id="logo" href="{{"/" | relative_url}}">
        {{ site.name }}
    </a>
    {% for item in site.data.navigation %}
    <a href="{{ item.link | relative_url }}" class="navigation-link">
        {{ item.name }}
    </a>
    {% endfor %}
</nav>
<div id="mobile-nav">
    <div class="link-wrapper">
        <div class="centered-links">
            {% for item in site.data.navigation reversed%}
            <a href="{{ item.link | relative_url }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>