/*
 * base.scss
 * This is the base scss file that contains all the variables and defaults.
 */

// Imports
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

// Variables

// Fonts
$font-family-base: 'Source Serif 4', serif;

// Colours
$background-filter: rgba(36, 19, 0, 0.658);
$nav-background: rgba(0, 0, 0, 0.85);
$landing-text-color: #f0f0f0;
$dark-text-color: #3f3f3f;
$blockquote-background-color: #dfdfdf;
$blockquote-border-color: #bfbfbf;

// Image Urls
$background-image-desktop: url("../images/home1.jpg");
$background-image-mobile: url("../images/home.jpg");
$about-header-image: url("../images/about.jpg");

// Z-indices
$background-z-index: -100;
$background-filter-z-index: -99;
$navbar-z-index: 100;
$nav-menu-z-index: 99;

// Font Sizes
$header-font-size-desktop: 54px;
$header-font-size-mobile: 36px;
$paragraph-font-size-desktop: 20px;
$paragraph-font-size-mobile: 16px;
$navbar-font-size: 20px;
$mobile-menu-font-size: 24px;

// Heights
$header-height: 35vh;

// Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$header-font-weight: 800;


// Defaults
* {
    font-family: $font-family-base;
}
p, h1, h2, h3, h4, h5, h6 {
    color: $dark-text-color;
}
