.landing-page {
    font-family: $font-family-base;
    .fixed-background {
        background-image: $background-image-mobile;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $background-z-index;
    }
    .fixed-background-filter {
        background-color: $background-filter;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $background-filter-z-index;
    }
    .main-section {
        display: table;
        height: 100vh;
        width: 100%;
    }
    .welcome-text {
        display: table-cell;
        vertical-align: middle;
        color: $landing-text-color;
        .welcome-text-inner {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            h1 {
                font-family: $font-family-base;
                font-size: $header-font-size-mobile;
                font-weight: 300;
            }
            p {
                font-family: $font-family-base;
                font-size: $paragraph-font-size-mobile;
            }
        }
    }
}

// Font-size changes TODO: move to base.scss for general responsive font-size
@media (min-width: 800px) {
    .landing-page {
        .main-section {
            .welcome-text {
                .welcome-text-inner {
                    h1 {
                        font-size: $header-font-size-desktop;
                    }
                    p {
                        font-size: $paragraph-font-size-desktop;
                    }
                }
            }
        }
    }
}

// Mainly to accomodate background-size: cover
@media (min-aspect-ratio: 1/1) {
    .landing-page {
        .fixed-background {
            background-image: $background-image-desktop;
        }
    }
}