.landing-page {
    font-family: $font-family-base;
    .fixed-background {
        background-image: $background-image-mobile;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $background-z-index;
    }
    .fixed-background-filter {
        background-color: $background-filter;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $background-filter-z-index;
    }
    .main-section {
        display: table;
        height: 100vh;
        width: 100%;
    }
    .welcome-text {
        display: table-row;
        .welcome-text-inner {
            display: table-cell;
            vertical-align: middle;
            .centered-box {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                padding: 30px;
                h1 {
                    font-family: $font-family-base;
                    font-size: $header-font-size-mobile;
                    font-weight: $header-font-weight;
                    color: $landing-text-color;
                }
                p {
                    font-family: $font-family-base;
                    font-size: $paragraph-font-size-mobile;
                    color: $landing-text-color;
                }
            }
        }
    }
    .social-media {
        position: fixed;
        bottom: 20px;
        left: 0;
        width: 100%;
        .icon-set {
            max-width: 220px;
            margin-left: auto;
            margin-right: auto;
            ion-icon {
                font-size: 30px;
                color: $landing-text-color;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

// Font-size changes TODO: move to base.scss for general responsive font-size
@media (min-width: 800px) {
    .landing-page {
        .main-section {
            .welcome-text {
                .welcome-text-inner {
                    h1 {
                        font-size: $header-font-size-desktop;
                    }
                    p {
                        font-size: $paragraph-font-size-desktop;
                    }
                }
            }
        }
    }
}

// Mainly to accomodate background-size: cover
@media (min-aspect-ratio: 1/1) {
    .landing-page {
        .fixed-background {
            background-image: $background-image-desktop;
        }
    }
}