.navigation-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $navbar-z-index;
    transition: 0.2s;
    a {
        display: inline-block;
        text-decoration: none;
        color: darken($landing-text-color, 10%);
        font-family: $font-family-base;
        font-weight: 500;
        font-size: $navbar-font-size;
        padding: 10px;
        margin-left: 10px;
    }
    a:hover {
        transition-duration: 0.2s;
        text-decoration: none;
        color: white;
    }
    a.navigation-link {
        float: right;
    }
    a.logo {
        color: $landing-text-color;
    }
    button.menu {
        display: none;
        float: right;
        font-size: 30px;
        color: darken($landing-text-color, 10%);
        border: none;
        background: transparent;
        padding: 10px;
        outline: none;
    }
    button.menu:hover {
        transition-duration: 0.2s;
        color: white;
    }
}

#mobile-nav {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: $nav-background;
    z-index: $nav-menu-z-index;
    .link-wrapper {
        height: 100%;
        width: 100%;
        display: table;
        .centered-links {
            display: table-cell;
            vertical-align: middle;
            a {
                display: block;
                width: 100%;
                text-decoration: none;
                text-align: center;
                color: $landing-text-color;
                font-size: $mobile-menu-font-size;
                padding: 18px;
            }
        }
    }
}

.dark-background {
    background-color: $nav-background;
    transition: 0.2s;
}

@media (max-width: 640px) {
    .navigation-bar {
        button.menu {
            display: block;
        }
        a.navigation-link {
            display: none;
        }
    }
}