.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    a {
        display: inline-block;
        text-decoration: none;
        color: darken( $landing-text-color, 10%);
        font-family: $font-family-base;
        font-weight: 500;
        font-size: $navbar-font-size;
        padding: 10px;
        margin-left: 10px;
    }
    a:hover {
        transition-duration: 0.2s;
        text-decoration: none;
        color: white;
    }
}